.film-id{
	width: 30px;
	display: block;
	float: left;
}

.film-name{
	width: 400px;
	display: block;
	float: left;
}

.film-details-name{
    font-size: large;
    font-weight: bold;
    display: block;
}

.film-year{
	width: 100px;
	display: block;
	float: left;
}

.film-container{
	clear: both;
    height: 25px;
}

.film-details-container{
	clear: both;
}

.film-container .destroy {
    display: none;
	height: 20px;
	margin: auto 0;
	font-size: 16px;
    background-color: transparent;
    border: 0;
}

.film-container:hover .destroy {
    display: inline;
}



