script#film-template(type="text/template")
    .film-view-container
        a.film-id(href!="#film/<%= id %>") <%= id %>
        span.film-name <%= name %>
        span.film-year <%= year %>
        a.action.edit(href="") Edit
        &nbsp;
        a.action.undo(href="") Undo
        &nbsp;
        a.action.save(href="") Save
        &nbsp;
        a.action.destroy(href="") Delete
    br
    .film-edit-container
        input.film-edit-name(type="text", value!="<%= name %>", placeholder="Enter film title", autofocus="")
        input.film-edit-year(type="text", value!="<%= year %>", placeholder="and year")
        a.action.done(href="") Done
        &nbsp;
        a.action.cancel(href="") Cancel