extends ./base

block content
    #films-container
        h3 List of Films
        #film-update-container
            input#film-add-name.film-name(type="text", placeholder="Enter film name", autofocus="")
            input#film-add-year.film-year(type="text", placeholder="and year")
            button#add Add Film
        #film-list-container
    #film-details-container
    include ./film
    include ./film-details