#films
    float left

.film-id
    width 30px
    display block
    float left

.film-name
.film-edit-name
    width 400px
    display block
    float left


.film-details-name
    font-size large
    font-weight bold
    display block


.film-year
.film-edit-year
    width 100px
    display block
    float left

.film-details-container
    clear both

.film-container
    clear both
    height 25px
    .action
        display none
        height 20px
        margin auto 0
        font-size 16px
        background-color transparent
        border 0
    &:hover .action
        display inline
    .film-view-container
        display block
    .film-edit-container
        display none
    &.editing
        .film-view-container
            display none
        .film-edit-container
            display block





